<style>
    #everything {
        background-image: url('{{ "/assets/img/trice.jpg" | relative_url}}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #essay-banner {
        background-image: url('{{ "/assets/img/trice-cropped.jpeg" | relative_url}}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    #home-banner {        
        height: 400px;
        position: relative;
    }
    #title-box {
        margin-top: 15em; 
        margin-left: 1em;
        margin-right: 1em;
        /* position: absolute;
        left: 0.0005em;
        bottom: 0.0005em; */
    }
    #toc-box {
        position: absolute;
        right: 1em;
        bottom: .15em;
    }
    @media screen and (max-width: 900px) {
        #home-banner {        
            height: 500px;
        }
        #title-box {
            margin-top: 2em; 
        }
    }
    /* .nav-buttons:hover {
        color: white;
        background: rgba(200,16,46,.10) !important;
    } */
</style>