<style>
    #everything {
        background-image: url('/assets/img/trice.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #home-banner {        
        height: 675px;
        position: relative;
    }
    #title-box {
        /*margin-top: 6em; 
        margin-left: 1em;
        margin-right: 1em;*/
        position: absolute;
        left: 0.0005em;
        bottom: 0.0005em;
    }
    #toc-box {
        position: absolute;
        right: 1em;
        bottom: 1em;
    }
</style>