{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
#home-banner {
    background-image: url('{{ site.data.featured_item.src | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
}
@media screen and (max-width: 576px) {
    #home-title-box {
        max-height: 500px;
    }
}
</style>
<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" class="position-relative" >
        <div class="p-2 text-center text-white bg-dark bg-opacity-75">
            {% if site.organization-logo-nav %}
            <a class="d-none d-md-block" href="{{ site.organization-link }}" target="_blank" rel="noopener">
                <img id="home-banner-logo" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name | escape }} home" >
            </a>{% endif %}
            <h1 class="display-4">{{ site.title }}</h1>
            {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %}
        </div>
        {% unless site.data.theme.featured-image contains '/' %}
        <div class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75">
            <a class="text-white fs-6" href="{{ site.data.featured_item.link | relative_url }}" title="{{ site.data.featured_item.alt | escape }}">Featured Image</a>
        </div>{% endunless %}
    </div>
</div>
{%- elsif page.layout == "landing-page" -%}
<div id="home-banner" class="container-fluid mt-3 mb-5">

    <div id="title-box" class="col-md-5 py-3 px-5 text-white text-center site-title">
        <h1 class="display-2 p-0 m-0"><span class="title-underline">ONCE</span>, <span class="title-underline">TWICE</span>,</h1>
        <h1 class="title-large p-0 m-0">TRICE:</h1>
        <p class="mb-0 mt-1 site-subtitle">Students Tackle Naming</p>
        <p class="mb-0 site-subtitle">Jack Trice Stadium</p>
    </div>

    <a id="toc-box" class="py-3 px-5 display-6 fs-2 text-white bg-cardinal bg-opacity-75 rounded" href="{{ '/thejacktricestory.html' | relative_url }}"><strong>View the Virtual Exhibit &raquo;</strong></a>
    
</div>
{%- else -%}
<div id="essay-banner" class="container-fluid">
    <div class="container">
        <div class="row align-items-center pt-5 pb-5">
            <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
                <h1><a class="text-white font-weight-normal site-title" href="{{ '/' | relative_url }}" >{{ site.title }}</a></h1>	 
                {% if site.tagline %}<p class="text-white">{{ site.tagline }}</p>{% endif %}
            </div>
            {% if site.organization-logo-banner %}
            <div class="col-md-3 d-none d-lg-block text-end">
                <a class="btn btn-outline-light" href="{{ site.organization-link }}" target="_blank" rel="noopener" style="background-color: white;">
                    <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" title="{{ site.organization-name }}" alt="{{ site.organization-name | escape }} home" >
                    <p class="text-cardinal text-end mb-0 mt-2" style="font-size: 1.2em;">University Library</p>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endif -%}